---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import solmobile from "../assets/images/sol_mobile.svg";
---

<MainLayout title="Titel">
  <article class="px-24">
    <section id="hero">
      <h1>HØJSKOLE I UDLANDET</h1>
      <h2>EVENTYRLIGE HØJSKOLEOPHOLD I UDLANDET FOR UNGE</h2>
    </section>

    <section>
      <h2 class="py-10">
        SKAB MINDER FOR LIVET - <br /> KOM PÅ HØJSKOLEEVENTYR!
      </h2>
      <p class="pb-10">
        Tag på højskole i udlandet og oplev verden på en helt ny måde! Hos
        HÖJSKOLENDK kombinerer vi rejseeventyr, fællesskab og spændende
        undervisning for unge mellem 18-30 år. Forestil dig fællesskab, nye
        venner, fantastiske landskaber og spændende kulturer, der sætter spor
        for livet. Med os er du sikret uforglemmelige oplevelser, stærke
        venskaber og tryghed hele vejen – vi er medlem af Rejsegarantifonden.
        Bliv underholdt, udvikl dig og skab minder, der varer for evigt. Vi
        glæder os til at tage dig med på dit livs rejse!
      </p>
      <Image src={solmobile} alt="billede af sol" />
    </section>

    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
  </article>
</MainLayout>
